.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#login {
  position:absolute;
  top: 40%;
  left: 40%;
  right: 40%;
  bottom: 40%;
}

#loginSubmit {
  margin-top: 2%;
}

#header {
  position:absolute;
  top: 10%;
  right: 10%;
}

.card {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
}


