body {
  background-color: #242424;
}
.App {
  text-align: center;
  position:absolute;
  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
  font-family: 'Noto Sans Ethiopic', sans-serif;
 }
  

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Noto Sans Ethiopic', sans-serif;
}

#login {
  position:absolute;
  top: 20%;
  left: 40%;
  right: 40%;
}

.login {
  background-color: #66806A;
  position:absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

#loginSubmit {
  margin-top: 2%;
}

#headerButtons {
  position:absolute;
  top: 25%;
  right: 5%;
}

#posts {
  position: absolute;
  top: 15%;
  left: 30%;
  right: 30%;
  overflow-wrap: break-word;
}

.postContent {
  margin-left: 30%;
  font-size: smaller;
}

.nav-item {
  margin-right: 3%;
  color: white;
}

.navbar-brand {
  margin-left: 2%;
  margin-right: 2.75%;
  color: white;
}

.card-title {
  padding: 5%;
}

.card-header, .card-header-reply {
  font-size: medium;
  font-weight: 700;
}

.cardInSearch {
  /* display: flex; */
  position: relative;
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: #F6F6F6;
  padding: 7%;
  border-radius: 6px;
  height: max-content;
}

.postContent {
  word-break: normal;
  white-space: normal;
  width: 100%;
}

.interactionCount {
  float: right;
  word-break: normal;
  width: 30%;
}
/* 
.blockquote-mb-0 {
  display: flex;
  flex-wrap: wrap;
} */

.likeBtn {
  position: absolute;
  bottom: 2%;
  right: 8%;
}

.replyBtn {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.navbar {
  background-color: #66806A;
}

.nav-item {
  color: black;
  text-decoration: none;
}

.nav-item-text {
  color: white;
  padding-top: 1.4vh;
}


.newPost:focus-visible {
  background-color: #F6F6F6;
  padding: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 6px;
}

.replyForm {
  background-color: #F6F6F6;
  padding: 5%;
  border-radius: 6px;
}

.form-control-reply, .form-control-reply:focus {
  background-color: #F6F6F6;
  border: none;
  border-radius: 6px;
}

.form-control-reply-button {
  background-color: #66806A;
  border: none;
  border-radius: 6px;
  color: white;
}


.cardAtHome{
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 5%;
  border-radius: 6px;
  margin-top: 3%;
  margin-bottom: 3%;
  /* width: 110%;
  margin-left: -5%;
 */
}

.card-home-upper {
  display: flex;
  background-color: #F6F6F6;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.ReplyCard {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 5%;
  border-radius: 6px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.btn-danger {
  border: none;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 5%;
}


.card-reply-upper {
  display: flex;
  background-color: #F6F6F6;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.replyDiv {
  margin-left: 10%;
  margin-right: -10%;
}


.updateProfileForm {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
}

.btn-secondary {
  position: sticky;
  margin-bottom: 20%;
}



.signUpForm {
  background-color: rgb(255, 255, 255);
  padding: 10%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  margin-bottom: 3%
}

.btn-primary {
  background-color: #66806A;
  border-color: #66806A;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #3f5142 !important;
  border-color: #3f5142 !important;
}

.loginText {
  margin-top: 5%;
}

.userCard {
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  overflow-wrap: break-word;
  padding: 2%;
}

.search {
  margin: 0 auto;
  width: 30%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.card-img-top {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 3%;
}

.card-img-profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile {
  padding: 3%;
}

.updateProfileForm {
  padding-top: 8%;
}

.newPostSubmit {
  color: white;
  background-color: #66806A;
}

#logoutButton {
  color: white;
  padding-top: 1.15vh;
  font-weight: 500;
  margin-left: -1.2%;
}

.profile {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 55%;
  bottom: 20%;
  border-radius: 3%;
}

.userPostsOnProfile {
  position: absolute;
  top: 20%;
  left: 55%;
  right: 10%;
  bottom: 20%; 
  border-radius: 3%;
}